<h1>Muerte</h1>

<a href = "https://www.youtube.com/watch?v=2ZA4SYmtLEc" target ="_blank">
  <%= image_tag 'satan2.png'%>
</a>


</br></br>

<%= link_to 'Volver al inicio', root_path %>

<%=#comentarios1234%>
